{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <div class="HOME">
        <h1><center>HOME PAGE</center></h1>
    </div>
    <div class="para">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nihil numquam laudantium reprehenderit ab pariatur nisi omnis nemo id commodi, eveniet voluptate quam quibusdam sapiente libero in, amet sunt ex!</p>
    </div>
</body>
</html>